<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink="/">
        <span>{{ title }} </span>
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="container">
      <div class="row">
        <div class="mat-typography">
          <!-- This header will be styled as `title` because it is inside `.mat-typography` -->
          <h1>Please Select one of our awesome coffees</h1>
          <!-- This paragraph will be styled as `body-1` because it is inside `.mat-typography` -->
          <p>Yum, yum</p>
        </div>
      </div>
      <div class="row">
        <!-- <app-coffeelist></app-coffeelist> -->
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- End of Content  -->
  </mat-sidenav-content>
</mat-sidenav-container>
